#conquistas {
    background-image: url("https://img.freepik.com/fotos-premium/diversas-maos-levantam-medalhas-em-celebracao-das-conquistas-no-dia-olimpico-dia-olimpico-internacional_1069077-5575.jpg?w=826");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#conquistas h2,
#conquistas p {
    color: rgb(255, 255, 255);
}

#conquistas div {
    background-color: rgba(0, 0, 0, 0.281);
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.623);
}

#conquistas button {
    width: 80%;
    margin-top: 40px;
}

#inicio strong {
    margin-bottom: 15px;
    margin-top: 20px;
}

#inicio h2,
#conquistas h2 {
    font-size: 35px;
}

#inicio {
    margin-top: 80px;
    margin-bottom: 80px;
}

#conteudo {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#conteudo>div {
    font-family: "Roboto Mono", monospace;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;

}

#conteudo div h2 {
    font-size: 32px;
    padding-bottom: 40px;
}

#conteudo div h3 {
    font-size: 18px;
    padding-bottom: 40px;
    word-break: break-all;
}

#conteudo div img {
    padding-inline: 35px;
    padding-bottom: 20px;
}

#conteudo button {
    margin-top: 60px;
}

#apoia-se {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}
#apoia-se div.container{
    max-width: 500px;
}
#apoia-se div.container {
    background-color: transparent;
}

#apoia-se h2 {
    margin-bottom: 20px;
    font-size: 35px;
}
#apoia-se h3{
font-size: 20px;
}
#apoia-se p {
    color: #D5D5D5;

}

.apoia-se_icons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}
#apoia-se button{
    margin-top: 20px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.993);
}
#apoia-se h2,
#apoia-se h3 {
    color: rgb(255, 255, 255);
}

.container {
    max-width: 1400px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.medium {
    max-height: 500px !important;
    width: 100%;
    object-fit: cover;
}
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s, transform 2s;
  }
  
  .reveal:visible {
    opacity: 1;
    transform: translateY(0);
  }

@media (width > 1000px) {

    #inicio h2,
    #conquistas h2 {
        font-size: 50px;
    }
}