* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1, h2, button {
  font-family: "Roboto Mono", monospace !important;
}

/* h2 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto !important;
  font-style: normal;
  font-size: 2.2em !important;
  font-weight: bold !important;
} */
.botao-laranja{
  background-color: #F3B468;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  width: 60%;
}

button {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
}

.card1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
